html,
body {
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 250%;
    color: white;
    font-weight: 200;
    font-family: 'Lato', sans-serif;
}

/* h2 {} */

h4 {
    font-size: 12px;
}

.col_left {
    position: fixed;
    background-color: #50297A;
    height: 100%;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 20%
}

#col_left_h2 {
    color: white;
    font-size: 25px;
}

#logo_img {
    margin-bottom: 15px;
    height: 120px;
    width: 120px;
}

.col_right {
    position: fixed;
    margin-top: 20%;
    background-color: white;
    height: 100%;
    width: 50%;
    left: 50%;
    text-align: center;
}

.container {
    width: 50%;
}

@media only screen and (max-width: 1250px) {
    .container {
        width: 70%;
    }
}


#log_in_button {
    align-content: center;
    vertical-align: middle;
    width: 150px;
    background-color: #50297A;
    border-radius: 7px;
    border: 0;
    font-size: 13px;
    height: 35px;
}


.input-group {
    margin-bottom: 10px;
}
