html,
body {
    height: 100%;
    background-color: #f6f6f6;
}

.col-left {
    background-color: #ffffff;
    box-shadow: 10px grey;
    height: 100%;
    width: 20%;
    position: fixed;
    text-align: center;
    padding-top: 10%
}

.bg_right {
    background-color: #50297A;
    height: 8%;
    width: 100%;
    position: fixed;
}

#bg_title {
    font-size: 25px;
    color: darkslateblue;
    padding-top: 5%;
}

#profile {
    width: 120px;
    height: 120px;
}


#note-active {
    font-weight: bolder;
}

.nav-link {
    color: black;
}

.navbar-nav {
    text-align: center;
    width: 100%;

}

.nav-link:hover {
    color: rebeccapurple;
}

#logo {
    width: 5%;
    margin-left: -8%;
}


#bg_title_2 {
    font-size: 25px;
    color: white;
    margin-left: 35%
}

.object {
    padding-top: 10%;
    width: 55%;
}

.top {
    width: 100%;
    padding-top: 1.5%
}


#bg_title_3 {
    font-size: 25px;
    margin-top: 10%;
    color: darkgrey;

}

#nav-active {
    background-color: #50297A;
}

.md-form {
    margin-left: 25%;
    margin-top: 2%;
}

p {
    font-family: 'Poppins', sans-serif;
    /*paragraph standard*/
    font-size: 1.0em;
    font-weight: 300;
    line-height: 1.2em;
    color: #666;
}


/*h2 standard*/
h2 {
    color: #006d9c;
    cursor: text;
}

/* -----------------------------------
    BOARD CONCEPT
-------------------------------------*/

/*Boardprogress standard*/
.boardProgress {
    float: left;
    width: 500px;
    min-height: 80vh;
    padding: 10px;
    margin: 2% 2% 0 0;
    background-color: #ffffff;
    margin-left: 25%;

}

/*The different boards (boardprogress)*/
#todo {
    border-top: 5px solid #40abcc;
}

#inprogress {
    border-top: 5px solid #cc9b40;
}

#done {
    border-top: 5px solid #40cc6f;
}

#done h6 {
    text-decoration: line-through;
}

h6 {
    margin-bottom: 2px;
}

/*Item design, how it looks*/
.dragItems {
    font-size: 15px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(214, 214, 214, 0.5);
    -moz-box-shadow: 1px 1px 1px 1px rgba(214, 214, 214, 0.5);
    box-shadow: 1px 1px 1px 1px rgba(214, 214, 214, 0.5);
    min-height: 100px;
    width: 100%;
    border-radius: 2px;
    background-color: #f6f6f6;
    color: #000;
    font-family: 'Poppins', sans-serif;
    transition: transform .2s;
    margin: 0 0 10px 0;
    padding: 10px;
    cursor: pointer;
}

#dragItem:hover {
    transform: scale(1.1)
}

/*Board titles, size, family and color standard*/
h4 {
    font-family: sans-serif;
    font-size: 20px;
    cursor: text;
    color: rgb(71, 71, 71);
}

/*add button, includes color, size, cursor*/
#addItem {
    color: white;
    background-color: #50297A;
    width: 8%;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 25%;
    margin-bottom: 10;
    margin-top: 10px;
    border: 0;
    cursor: pointer;
}

/*add button, hover effect*/
#addItem:hover {
    background-color: rebeccapurple;
    transition: 0.3s;
}

/*item badge, is included in the tag option*/
.badge-outline {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    padding: 3px 6px;
    border: 1px solid transparent;
    min-width: 10px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 3px;
    border-color: #B0BEC5;
    color: #B0BEC5;
    margin-bottom: 2px;
}

/*remove icon / button */
#remove {
    color: aliceblue;
    width: 5%;
    margin-left: 5%;
    background-color: black;
}

/*Board modal text color*/
.form-group {
    color: black;
}

.deadline {
    font-size: 75%;
    color: dimgray;
    text-align: right;
}
