  html,
  body {
      height: 100%;
      background-color: #f6f6f6;
  }

  .col-left {
      background-color: #ffffff;
      box-shadow: 10px grey;
      height: 100%;
      width: 20%;
      position: fixed;
      text-align: center;
      padding-top: 10%
  }

  .bg_right {
    background-color: #50297A;
    margin-top: -3%;
    height: 8%;
    width: 100%;
    position: fixed;
}

  #bg_title {
      font-size: 25px;
      color: rgb(55, 51, 82);
      padding-top: 5%;
  }

  #profile {
      width: 120px;
      height: 120px; 
  }

  #time-active{
    font-weight:bolder;
  }

  .nav-link{
      color: black;
  }

  .navbar-nav {
      text-align: center;
      width: 100%;
      
  }

  .nav-link:hover{
      color: rebeccapurple;
  }

  #logo {
      width: 5%; 
      margin-left: -8%;
  }


  #bg_title_2 {
      font-size: 25px;
      color: white;
      margin-left: 35%
      
  }

  .object {
      padding-top: 10%;
      width: 55%;
  }

  .top {
      width: 100%;
      padding-top: 1.5%
  }


  #bg_title_3 {
      font-size: 25px;
      margin-top: 10%;
      color: darkgrey;
      
  }

  #box {
    background-color: #ffffff;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(214, 214, 214, 0.5);
    -moz-box-shadow: 1px 1px 1px 1px rgba(214, 214, 214, 0.5);
    box-shadow: 1px 1px 1px 1px rgba(214, 214, 214, 0.5);
    height: 100%;
    width: 100%;
    margin-top: -40%;

}

/*
*/
 
.emp-profile {
width: 100%;
padding: 10%;
margin-top: 3%;
margin-bottom: 3%;
border-radius: 0.5rem;
background: #fff;
}

.profile-img{
text-align: center;
}

.profile-img img{
width: 60%;
height: 100%;
margin-left: 730px;
margin-top: -35px;
}

.profile-img .file {
position: relative;
overflow: hidden;
margin-top: -20%;
width: 70%;
border: none;
border-radius: 0;
font-size: 15px;
background: #212529b8;
}

.profile-img .file input {
position: absolute;
opacity: 0;
right: 0;
top: 0;
}

.profile-head h5{
color: #333;
}

.profile-head h6{
color: #0062cc;
}

.profile-edit-btn{
border: none;
border-radius: 1.5rem;
width: 70%;
padding: 2%;
font-weight: 600;
color: #6c757d;
cursor: pointer;
}

.proile-rating{
font-size: 12px;
color: #818182;
margin-top: 5%;
}

.proile-rating span{
color: #495057;
font-size: 15px;
font-weight: 600;
}

.profile-head .nav-tabs{
margin-bottom:5%;
}

.profile-head .nav-tabs .nav-link{
font-weight:600;
border: none;
}

.profile-head .nav-tabs .nav-link.active{
border: none;
border-bottom:2px solid #0062cc;
}

.profile-work{
padding: 14%;
margin-top: -15%;
}

.profile-work p{
font-size: 12px;
color: #818182;
font-weight: 600;
margin-top: 10%;
}

.profile-work a{
text-decoration: none;
color: #495057;
font-weight: 600;
font-size: 14px;
}

.profile-work ul{
list-style: none;
}
.profile-tab label{
font-weight: 600;
}

.profile-tab p{
font-weight: 600;
color: #0062cc;
}

