html,
body {
    height: 100%;
    background-color: #f6f6f6;
}

.col-left {
    background-color: #ffffff;
    box-shadow: 10px grey;
    height: 100%;
    width: 20%;
    position: fixed;
    text-align: center;
    padding-top: 10%
}

.bg_right {
    background-color: #50297A;
    height: 8%;
    width: 100%;
    position: fixed;
}

#bg_title {
    font-size: 25px;
    color: darkslateblue;
    padding-top: 5%;
}

#profile {
    width: 120px;
    height: 120px; 
}


#time-active{
    font-weight:bolder;
}

.nav-link{
    color: black;
}

.navbar-nav {
    text-align: center;
    width: 100%;
    
}

.nav-link:hover{
    color: rebeccapurple;
}

#logo {
    width: 5%; 
    margin-left: -8%;
}


#bg_title_2 {
    font-size: 25px;
    color: white;
    margin-left: 35%
    
}

.object {
    padding-top: 10%;
    width: 55%;
    
}

.top {
    width: 100%;
    padding-top: 1.5%
}


#bg_title_3 {
    font-size: 25px;
    margin-top: 10%;
    color: darkgrey;
    
}

#nav-active {
    background-color: #50297A;
}

.md-form {
    margin-left: 25%;
    margin-top: 2%;
}


body{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size: 96.5%;
	font-family: Helvetica, Arial, sans-serif;
}

input{
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, p{
	margin-bottom: 10px;
}

p{
	line-height: 20px;
}

a{
	text-decoration: none;
	color: #FF462B;
}

.clearfix{
	clear: both;
}

.animate{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


/* required */
.calendar{
	position: absolute;
	border-radius: 4px;
	overflow: hidden;
	width: 900px;
	height: 450px;
	left: 24%;
	margin-top: -245px;
	top: 50%;
	background-color: #ffffff;
	color: #333333;
}

.calendar h1, .calendar h2{
	font-weight: 300;
	font-size: 26px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
}

.calendar h1 span{
	display: block;
}

.calendar .col{
	position: relative;
	float: left;
	height: 100%;
}

.calendar .col .content{
	padding: 40px;
}

.calendar ul{
	margin: 0px;
}

.calendar ul li{
	list-style: none;
}

.calendar .leftCol{
	width: 40%;
	background-color: #50297A;
}

.calendar .noteList li{
	color: #ffffff;
	margin-bottom: 10px;
}

.calendar .notes p,
.calendar .notes input,
.calendar .noteList li{
	font-weight: 300;
	font-size: 14px;
}

.calendar .notes p{
	border-bottom: solid 1px rgba(255,255,255,0.4);
}

.calendar .notes input{
	background-color: #50297A;
	color: #ffffff;
	border: none;
	width: 200px;
}

.calendar .addNote,
.calendar .removeNote{
	float: right;
	color: rgba(255,255,255,0.4);
	font-weight: bold;
	margin-left: 20px;
}

.calendar .addNote:hover,
.calendar .removeNote:hover{
	color: #ffffff;
}

.calendar .addNote{
	font-size: 16px;
}

.calendar .leftCol h1{
	color: #ffffff;
	margin-bottom: 40px;
}

.calendar .rightCol{
	width: 60%;
}

.calendar .rightCol h2{
	color: #C7BEBE;
	text-align: right;
	margin-bottom: 70px;
}

.calendar .months li,
.calendar .weekday li,
.calendar .days li{
	float: left;
	text-transform: uppercase;
}

.calendar .months li a,
.calendar .weekday li a,
.calendar .days li a{
	display: block;
	color: #747978;
}

.calendar .months li a{
	font-size: 10px;
	color: #C7BEBE;
	text-align: center;
	width: 32px;
	margin-bottom: 20px;
}

.calendar .months li .selected{
	font-weight: bold;
	color: #747978;
}

.calendar .weekday li a{
	width: 55px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 12px;
}

.calendar .days li{
	width: 55px;
}

.calendar .days li a{
	width: 36px;
	height: 24px;
	text-align: center;
	margin: auto auto;
	font-size: 12px;
	font-weight: bold;
	border-radius: 12px;
	margin-bottom: 10px;
	padding-top: 10px;
}


.calendar .days li a:hover{
	background-color: #EEEDE9;
}

.calendar .days li .selected{
	background-color: #F5A1A3!important;
	color: #ffffff;
}

.calendar .days li .event{
	color: #F5A1A3;
}


/* placeholder color */
::-webkit-input-placeholder {color: #ffffff; }
:-moz-placeholder {color: #ffffff; }
::-moz-placeholder {color: #ffffff; }
:-ms-input-placeholder {color: #ffffff; }