body, html {
    margin: 0;
    height: 100%;
    width: auto;
    font-family: 'Lato', sans-serif;
}
#header {
    background-color: #50297A;
    margin-bottom: 30px;
}
#akuPage {
    position: relative;
    margin-top: 15px;
}

#logo {
    position: relative;
    margin-left: 5px;
    margin-top: 15px;
    height: 30px;
    width: auto;
    top: 100;
}
#title {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 32px;
    color: white;
    font-weight: bolder;
}
#akkupointment {
    position: relative;
    top: 20%;
    margin-top: 30px;
    margin-left: 15px;
    font-size: 20px;
    color: white;
    bottom: 100%;

}
#textbox {
    position: relative;
    top: 20%;
    margin-top: 30px;
    margin-left: 15px;
    font-size: 15px;
    color: black;
    bottom: 100%;
}

.akupunkt-btn {
    position: relative;
    margin-top: 10px;
    left: 3%;
    background-color: #50297A;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: bolder;
}
.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: 50297A;
    border: 2px solid #50297A;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background:white;
  }
  #options {
    position: relative;
    bottom: 20%;
    color: grey;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 50%;
}
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  .content1{
      font-size: 20;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color:#50297A ;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  
  
