body,
html {
    margin: 0;
    height: 100%;
    width: auto;
    font-family: 'Lato', sans-serif;
}

#akuPage {
    position: relative;
    margin-top: 15px;
}

#header {
    text-align: left;
}

#logo {
    height: 30px;
}

#title {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 32px;
    color: #50297A;
    font-weight: bolder;
}

#akkupointment {
    position: relative;
    top: 20%;
    margin-top: -20px;
    margin-left: 50px;
    font-size: 15px;
    color: darkgrey;
    bottom: 100%;

}

#textbox {
    position: relative;
    top: 20%;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 15px;
    color: black;
    bottom: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

#Akupunktur {
    margin-left: 10%;
    width: 80%;
    position: relative;
}

.akupunkt-btn {
    position: relative;
    margin-top: 10px;
    left: 3%;
    background-color: #50297A;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bolder;
}

.box {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    margin-left: 5%;
    padding: 10px 0px;
    background-color: #50297A;
    color: white;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    color: rebeccapurple;
}

#options {
    position: relative;
    bottom: 20%;
    color: grey;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 21px;
    font-weight: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.content1 {
    font-size: 20;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #50297A;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}
