html,
body {
    height: 100%;
    margin-bottom: 5%;
    background-color: #f6f6f6;
}


h1{
    position: relative;
    margin-left: 12%;
    margin-top: 5%;
    position: relative;
    margin-left: 12%;
    display: flex;
    white-space: normal;

}

#historikk{
    position: relative;
    margin-left: 38%;
    margin-top: -9.4%;
        position: relative;
    background-color: #50297A;
    color: white;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
}

#note-active {
    font-weight: bolder;
}

.nav-link {
    color: black;
}

.navbar-nav {
    text-align: center;
    width: 100%;
    

}

.nav-link:hover {
    color: rebeccapurple;
}

#logo {
    width: 5%;
    margin-left: -8%;
}


#bg_title_2 {
    font-size: 25px;
    color: white;
    margin-left: 35%;
    font-family: 'Alata', sans-serif;
}

.object {
    padding-top: 10%;
    width: 55%;
}

.top {
    width: 100%;
    padding-top: 1.5%
}

#bg_title_3 {
    font-size: 25px;
    margin-top: 10%;
    color: darkgrey;
    font-family: 'Alata', sans-serif;

}

#nav-active {
    background-color: #50297A;
}

.md-form {
    margin-left: 25%;
    margin-top: 2%;
}

p {
    font-family: 'Alata', sans-serif;
    /*paragraph standard*/
    font-size: 1.0em;
    font-weight: 300;
    line-height: 1.2em;
    color: #666;
    
}


/*h2 standard*/
h2 {
    color: #006d9c;
    cursor: text;
}

.list-group-item.active, .list-group-item.active:hover{
    background-color: rebeccapurple; !important
}


.col-4 {
    margin-left: 12%;
    margin-top: 5%;
    z-index: 0;
    font-family: 'Alata', sans-serif;
}

#hk-logo{
    width: 5%;
    margin-left: 28%;
    margin-top: -7.5%;
    font-family: 'Alata', sans-serif;
}

.col-8 {
    margin-left: 55%;
    margin-top: -10%;
}

.new {
    background-color: #50297A;
    color: white;
}

.new:hover {
    color: white;
    background-color: rebeccapurple;
}



