body,
html {
    margin: 0;
    height: 100%;
    width: auto;
    font-family: 'Alata', sans-serif;
}

#header {
    background-color: #50297A;
    margin-bottom: 30px;
}

#title {
    margin-top: 10px;
    margin-left: 25px;
    font-size: 32px;
    color: white;
    font-weight: bolder;
    font-family: 'Alata', sans-serif;
}

#Appointment {
    position: relative;
    top: 20%;
    margin-top: 30px;
    margin-left: 25px;
    font-size: 20px;
    color: white;
    bottom: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

#Set-Appointment-btn {
    position: relative;
    width: 80%;
    margin-bottom: -25%;
    margin-left: 10%;
    padding-left: 15px;
    background-color: white;
    border: none;
    color: #50297A;
    height: 50px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    -webkit-box-shadow: 0px 18px 10px -7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 18px 10px -7px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 18px 10px -7px rgba(0, 0, 0, 0.1);
    font-family: 'Alata', sans-serif;
    cursor: pointer;
}

#Set-Appointment-btn:hover {
    color: #50297A;
    font-weight: bold;
}

#landingPage {
    position: relative;
    margin-top: 75px;
}

#logo {
    position: relative;
    margin-left: 45px;
    margin-top: 15px;
    height: 50px;
    width: 50px;
    top: 100;
}

#options {
    position: relative;
    bottom: 20%;
    color: grey;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 50%;
}

.landingPage-btn {
    position: relative;
    margin-top: 10px;
    left: 2%;
    border: none;
    background-color: #50297A;
    color: white;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    transition-duration: 0.4s;
    -webkit-box-shadow: -1px 7px 29px 14px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -1px 7px 29px 14px rgba(0, 0, 0, 0.1);
    box-shadow: -1px 7px 29px 14px rgba(0, 0, 0, 0.1);
    font-family: 'Alata', sans-serif;
}
