.navbar {
    padding: 0;
    display: block;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 10%;
    bottom: 0;
    margin: 0;
}

i {
    
}

.buttons {
    position: absolute;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

#button1 {
    left: 0;
    background-color: grey;
    color: #50297A;
}

#button2 {
    left: 25%;
    background-color: white;
}

#button3 {
    left: 50%;
    background-color: white;
}

#button4 {
    left: 75%;
    background-color: white;
}
