body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

h1 {
    top: 0;
    margin: 0;
    margin-bottom: 20px;
}

h3 {
    top: 0;
    margin: 0;
}

.timebestilling {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
}

.inputGroup {
    margin: 10px;
}

#maleFemaleButtons {
    display: flex;
    flex-direction: row;
}

#log_in_button {
    align-content: center;
    vertical-align: middle;
    width: 200px;
    background-color: #50297A;
    border-radius: 7px;
    border: 0;
    font-size: 13px;
    height: 35px;

    text-align: center;
    font-size: 90%;
    color: white;
    font-weight: 200
}
